{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"  href="{%  static  'css/base.css'  %}">
    </head>
    
{% if user.is_authenticated %}
<body style="background-image: url('{% static 'tlo.jpg' %}')";>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <div class="topnav">
    <div class="logo">
        <a href="home"><img src="{% static 'anonse.png' %}" width="100" height="33" alt="Logo"/></a>
        </div>
        <div class="category">
            <a href="o_nas">O nas</a>
            <a href="ogłoszenia">Ogłoszenia</a>
            <a href="kategorie">Kategorie</a>
            <a href="dodaj_ogłoszenie">Dodaj ogłoszenie</a>
        <div class="logins">
            <a class="nav-link dropdown-toggle" href="{% url 'profile' request.user.id %}">
            {{ user.username }}
            </a>
            <a href="logout">Wyloguj</a></div>
    </div>
    </div>
    
    {% if messages %}
    {% for message in messages %}
    </br>
    <div class="container">
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>
    </div>
    {% endfor %}
    {% endif %}
    
   <div class="container">
   <div class="rectangle4">
   
    
    <div class="card-body">
        <div class="col-lg-8 mx-auto">
            <div class="bg-grey p-5">
            <form method=POST action="{% url 'search' %}">
                <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-15">
                    <div class="input-group">
                        {% csrf_token %}
                        <input name="searched" type="search" placeholder="Wyszukuj sposród ogłoszeń..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
                        <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
    </div>
 
    <div class="container">
        </br>
        <div class="card">
            <div class="topnav">
                <div class="card-header">
                    <div class="colorek">
                        <center>Najnowsze ogłoszenia</center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <br/>
            </br/>
            {% for announcement in announcement_list %}
            <div class="col-3 py-3"> 
                <div class="card" style="width: 16rem;">
                    <img src="media/{{ announcement.image }}" class="card-img-top" alt="..." width="150" height="150">
                    <div class="card-body">
                        <div class="text"><a href="{% url 'ogłoszenie' announcement.id %}" class="text-dark"><h5 class="card-title">{{ announcement }}</h5></a></div>
                        <p class="card-text">
                        <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">{{ announcement.event_date }}</p> 
                        <strong>{{ announcement.cost }}</strong>
                        </p>
                        {% if user.id == announcement.manager.id %}
                            <a href="{% url 'zmodyfikuj_ogłoszenie' announcement.id %}" class="btn btn-secondary btn-sm">Modyfikuj</a>
                            <a href="{% url 'usuń_ogłoszenie' announcement.id %}" class="btn btn-danger btn-sm">Usuń</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            </br>
            <br/>
            {% endfor %}
        </div>
    </div>

{% else %}
<body style="background-image: url('{% static 'tlo.jpg' %}')">
    <div class="topnav">
    <div class="logo">
        <a href="home"><img src="{% static 'anonse.png' %}" width="100" height="33" alt="Logo"/></a>
        </div>
         <div class="category">
            <a href="o_nas">O nas</a>
            <a href="ogłoszenia">Ogłoszenia</a>
            <a href="kategorie">Kategorie</a>
       <div class="logins">
                <a href="register">Rejestracja</a>
                <a href="login">Logowanie</a>
            </div>
    </div>
    </div>
    
    {% if messages %}
    {% for message in messages %}
    </br>
    <div class="container">
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>
    </div>
    {% endfor %}
    {% endif %}
    
   <div class="container">
   <div class="rectangle4">
   
    
    <div class="card-body">
        <div class="col-lg-8 mx-auto">
            <div class="bg-grey p-5">
            <form method=POST action="{% url 'search' %}">
                <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-15">
                    <div class="input-group">
                        {% csrf_token %}
                        <input name="searched" type="search" placeholder="Wyszukuj sposród ogłoszeń..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
                        <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
    </div>
 



  
    <div class="container">
        </br>
        <div class="card">
            <div class="topnav">
                <div class="card-header">
                    <div class="colorek">
                        <center>Najnowsze ogłoszenia</center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <br/>
            </br/>
            {% for announcement in announcement_list %}
            <div class="col-3 py-3"> 
                <div class="card" style="width: 16rem;">
                    <img src="media/{{ announcement.image }}" class="card-img-top" alt="..." width="150" height="150">
                    <div class="card-body">
                        <div class="text"><a href="{% url 'ogłoszenie' announcement.id %}" class="text-dark"><h5 class="card-title">{{ announcement }}</h5></a></div>
                        <p class="card-text">
                        <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">{{ announcement.event_date }}</p> 
                        <strong>{{ announcement.cost }}</strong>
                        </p>
                        {% if user.id == announcement.manager.id %}
                            <a href="{% url 'zmodyfikuj_ogłoszenie' announcement.id %}" class="btn btn-secondary btn-sm">Modyfikuj</a>
                            <a href="{% url 'usuń_ogłoszenie' announcement.id %}" class="btn btn-danger btn-sm">Usuń</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            </br>
            <br/>
            {% endfor %}
        </div>
    </div>
</html> 
{% endif %}